@model IEnumerable<Projekt2.Models.Dostawcy>

@{
    ViewData["Title"] = "Dostawcy";
}

<h1>Dostawcy</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj nowego dostawcę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_ha_pola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiczbaDostaw)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href='@Url.Action("Details", "Dostawcy", new { id = item.Id })'" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_ha_pola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiczbaDostaw)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

