@model Projekt2.Models.Dostawy

@{
    ViewData["Title"] = "Dostawy - Szczegółowe informacje";
}

<h1>Dostawy - Szczegółowe informacje</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_dostawy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_dostawy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc_towaru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc_towaru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_dostawy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_dostawy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_dostawcy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_dostawcy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_dostawy">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
