@model IEnumerable<Projekt2.Models.Dostawy>

@{
    ViewData["Title"] = "Dostawy";
}

<h1>Dostawy</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_towaru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_dostawy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_dostawcy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_towaru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_dostawy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_dostawcy)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id_dostawy">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_dostawy">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_dostawy">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
