@model Projekt2.Models.Users

@{
    ViewData["Title"] = "Informacje o użytkowniku";
}

<h1>Informacje o użytkowniku</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Username)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pracownik)
        </dt>
        <dd class="col-sm-10" onclick="location.href='@Url.Action("Details", "Pracownicy", new { id = Model.PracownikId })'" style="cursor:pointer;">
            @Html.DisplayFor(model => model.Pracownik.Name) @Html.DisplayFor(model => model.Pracownik.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@User.FindFirst("Id")?.Value">Edytuj </a> |
    <a asp-action="Delete" asp-route-id="@User.FindFirst("Id")?.Value">Usuń Konto</a> |
    <a href="#" onclick="history.back()">Cofnij do poprzedniej strony</a>
</div>
