@model Projekt2.Models.Pakownia

@{
    ViewData["Title"] = "Pakownia - Details";
}

<h1>Pakownia - Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc_towaru_wejscowego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc_towaru_wejscowego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc_towaru_wyjscowego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc_towaru_wyjscowego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_kierownika_zmiany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_kierownika_zmiany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_zmiany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_zmiany)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_partii">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
