@model IEnumerable<Projekt2.Models.Pakownia>

@{
    ViewData["Title"] = "Pakownia";
}

<h1>Pakownia</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj dane o partii</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_partii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_towaru_wejscowego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_towaru_wyjscowego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kierownik_zmiany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_zmiany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href='@Url.Action("Details", "Pakownia", new { id = item.Id_partii })'" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Id_partii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_towaru_wejscowego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_towaru_wyjscowego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kierownik_zmiany.Name) @Html.DisplayFor(modelItem => item.Kierownik_zmiany.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_zmiany)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id_partii">Edytuj</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_partii">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
