@model Projekt2.Models.Magazyn_sprzedarz

@{
    ViewData["Title"] = "Magazyn -> Sprzedarz - Details";
}

<h1>Magazyn -&gt Sprzedarz - Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_operacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_operacji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_transakcji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_transakcji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc_opakowan_sprzedanych)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc_opakowan_sprzedanych)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
