@model IEnumerable<Projekt2.Models.Magazyn_sprzedarz>

@{
    ViewData["Title"] = "Magazyn -> Sprzedarz";
}

<h1>Magazyn -&gt Sprzedarz</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_operacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_transakcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_opakowan_sprzedanych)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href='@Url.Action("Details", "Magazyn_sprzedarz", new { id = item.Id })'" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Id_operacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_transakcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_opakowan_sprzedanych)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
