@model Projekt2.Models.Silos

@{
    ViewData["Title"] = "Silos - Szczegółowe informacje";
}

<h1>
    Silos - Opercja @Html.DisplayFor(model => model.Id) - Szczegółowe informacje
</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_operacji)
        </dt>
        <dd class="col-sm-10" onclick="location.href='@Url.Action("Details", "Produktownia", new { id = Model.Id_operacji })'" style="cursor:pointer;">
            @Html.DisplayFor(model => model.Id_operacji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc_cukru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc_cukru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_skladowania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_skladowania)
        </dd>
    </dl>
</div>
<div>
    <!--
    <a asp-action="Edit" asp-route-id="Model?.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="Model?.Id">Usuń</a> |
    -->
    <a asp-action="Index">Wróć do listy</a> |
    <a href="#" onclick="history.back()">Cofnij do poprzedniej strony</a>
</div>
