@model IEnumerable<Projekt2.Models.Silos>

@{
    ViewData["Title"] = "Silos";
}

<h1>Silos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj nowe informacje o wpływie do silosu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_operacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_cukru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_skladowania)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href='@Url.Action("Details", "Silos", new { id = item.Id })'" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Id_operacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_cukru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_skladowania)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
