@model Projekt2.Models.Plac_buraczany

@{
    ViewData["Title"] = "Plac buraczany - Szczegółowe informacje";
}

<h1>Plac buraczany - Dostawa @Html.DisplayFor(model => model.Id_dostawy) - Szczegółowe informacje</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_dostawy)
        </dt>
        <dd class="col-sm-10" onclick="location.href='@Url.Action("Details", "Dostawy", new { id = Model.Id_dostawy })'" style="cursor:pointer;">
            @Html.DisplayFor(model => model.Id_dostawy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc_burakow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc_burakow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_operacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_operacji)
        </dd>
    </dl>
</div>
<div>
    <!--
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Usuń</a> |
    -->
    <a asp-action="Index">Wróć do listy</a> |
    <a href="#" onclick="history.back()">Cofnij do poprzedniej strony</a>
</div>
