@model Projekt2.Models.Pracownicy

@{
    ViewData["Title"] = "Pracownicy - Usuwanie danych";
}

<h1>Pracownicy - Usuwanie danych</h1>

<h3>Czy na pewno chcesz usunąć te dane?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nr_tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nr_tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stanowisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stanowisko.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dzial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dzial.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a> |
        <a href="#" onclick="history.back()">Cofnij do poprzedniej strony</a>
    </form>
</div>
