@model IEnumerable<Projekt2.Models.Sprzedarz>

@{
    ViewData["Title"] = "Sprzedarz";
}

<h1>Sprzedarz</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_opakowan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_odbioru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_kupca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_opakowan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_odbioru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_kupca)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id_transakcji">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_transakcji">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_transakcji">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
