@model IEnumerable<Projekt2.Models.Sprzedarz>

@{
    ViewData["Title"] = "Sprzedaż";
}

<h1>Sprzedaż</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj nową transakcję</a>
</p>
@{
    int totalPages = (int)ViewBag.TotalPages;
    int currentPage = (int)ViewBag.CurrentPage;
    int visiblePages = 5;
    int startPage = Math.Max(1, currentPage - visiblePages / 2);
    int endPage = Math.Min(totalPages, startPage + visiblePages - 1);

    if (endPage - startPage + 1 < visiblePages && startPage > 1)
    {
        startPage = Math.Max(1, endPage - visiblePages + 1);
    }
}

<nav class="text-end flex-column">
    @if (startPage > 1)
    {
        <a class="link-info " href="@Url.Action("Index",  new { page = 1 })">1</a>
    }
    @if (currentPage > 1)
    {
        <a class="link-info text-decoration-none" href="@Url.Action("Index", new { page = currentPage - 1 })">&lt;</a>
    }

    @for (int i = startPage; i <= endPage; i++)
    {
        if (i == currentPage)
        {
            <a class="link-info cur_page" href="@Url.Action("Index", new { page = i })">@i</a>
        }
        else
        {
            <a class="link-info" href="@Url.Action("Index", new { page = i })">@i</a>
        }
    }

    @if (currentPage < totalPages)
    {
        <a class="link-info text-decoration-none" href="@Url.Action("Index", new { page = currentPage + 1 })">&gt;</a>
    }
    @if (endPage <= totalPages - 1)
    {
        <a class="link-info" href="@Url.Action("Index", new { page = totalPages })">@totalPages</a>
    }
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_transakcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_opakowan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_odbioru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kupiec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href='@Url.Action("Details", "Sprzedarz", new { id = item.Id_transakcji })'" style="cursor:pointer;">
            <td>
                    @Html.DisplayFor(modelItem => item.Id_transakcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_opakowan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_odbioru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kupiec.Nazwa)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id_transakcji">Edytuj</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_transakcji">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav class="text-center flex-column">
    @if (startPage > 1)
    {
        <a class="link-info " href="@Url.Action("Index",  new { page = 1 })">1</a>
    }
    @if (currentPage > 1)
    {
        <a class="link-info text-decoration-none" href="@Url.Action("Index", new { page = currentPage - 1 })">&lt;</a>
    }

    @for (int i = startPage; i <= endPage; i++)
    {
        if (i == currentPage)
        {
            <a class="link-info cur_page" href="@Url.Action("Index", new { page = i })">@i</a>
        }
        else
        {
            <a class="link-info" href="@Url.Action("Index", new { page = i })">@i</a>
        }
    }

    @if (currentPage < totalPages)
    {
        <a class="link-info text-decoration-none" href="@Url.Action("Index", new { page = currentPage + 1 })">&gt;</a>
    }
    @if (endPage <= totalPages - 1)
    {
        <a class="link-info" href="@Url.Action("Index", new { page = totalPages })">@totalPages</a>
    }
</nav>