@model IEnumerable<Projekt2.Models.Kupcy>
@using Projekt2.Helpers


@{
    ViewData["Title"] = "Kupcy";
}

<h1>Kupcy</h1>

<p>
    <a class="btn btn-primary"  asp-action="Create">Dodaj nowego kupca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_kupca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiczbaTransakcji)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr onclick="location.href='@Url.Action("Details", "Kupcy", new { id = item.Id_kupca })'" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Id_kupca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @FormatHelper.FormatNip(item.Nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiczbaTransakcji)
            </td>
            <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id_kupca">Edytuj</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_kupca">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
